body {
    font-family: Arial, sans-serif;
    background-color: #cecece;
    margin: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #0c0c0c;
    font-size: 2.5em; 
    font-weight: bold; 
}
.logo {
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 2px solid #4CAF50;
    background-color: #fff;
    text-align: center;
}

thead {
    background-color: #4CAF50;
    color: white;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

td {
    text-align: center;
    font-family: 'Courier New', monospace;
}

img {
    text-align: center;
    width: 100px; 
    height: auto;
}
footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #8B4513;
    color: white;
    font-size: 1.2em; 
}
